// Common colours for all pages of the application, based on style guide

// scss-lintisable TrailingSemicolon
$palettes: (
  black: (
    base: #000b00,
  ),
  white: (
    base: #fff,
  ),
  grey: (
    base: #afafb0,
    light: #f3f3f2,
    dark: #727171,
  ),
  purple: (
    base: #e50099,
  ),
  transparent: (
    base: rgba(0, 0, 0, 0)
  ),
);
// Examples:
// palette(red)
// palette(red, light)

@function palette($color, $tone: 'base') {
  @return map-get(map-get($palettes, $color), $tone);
}
