@import './palette';

// Globals
$global-padding: 10px;
$global-margin: 10px;
$global-section-padding: 20px;

// Background colours
$background-color-primary: palette(white);
$background-color-secondary: palette(black);

// Font colours
$font-color-primary: palette(black);
$font-color-secondary: palette(white);
$font-color-accent: palette(purple);

$color-button-accent: palette(purple);

// Header
$header-background-color: $background-color-primary;
$header-border-bottom: 2px solid $background-color-secondary;
$header-navigation-font-size: 20px;
$header-navigation-link-padding: 15px;
$header-navigation-link-font-color: $font-color-primary;
$header-logo-height: 50px;
$header-logo-width: 130px;

// Featured Work
$featured-work-item-text-color: $font-color-accent;
$featured-work-item-margin: $global-margin;
$featured-work-item-flex: 0 0 250px;
$featured-work-item-background-color: $background-color-primary;
$featured-work-background-color: $background-color-secondary;
$featured-work-text-color: $font-color-secondary;