@import '../../styles/_variables';
@import '../../styles/_utility';
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $contact-height;
  justify-content: center;

  &__title {
    font-size: $contact-title-font-size;
  }

  &__button {
    margin-top: $contact-button-margin-top;
    padding: $contact-button-padding;
    color: $background-color-accent;
    font-size: $contact-button-font-size;
    background-color: $background-color-primary;
    border: $contact-button-border;

    &:hover {
      cursor: pointer;
      background-color: $contact-button-background-color-hover;
      color: $contact-button-font-color-hover;
    }
  }
}
